/************************* CSS custom properties (variables) *************************/

:root {
    --main-bg-color: hsl(185, 75%, 39%);
    --dark-gray: hsl(0, 0%, 59%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);
}

/************************* Attribution *************************/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/************************* Background *************************/

/* body {
    background-image: url(imgs/bg-pattern-top.svg), url(imgs/image-victor.jpg);
    background-position: left bottom, right top;
    background-color: gray;
    background-repeat: no-repeat;
} */

body {
    background: url(imgs/bg-pattern-top.svg) -110% 50% no-repeat, url(imgs/bg-pattern-bottom.svg) 180% -50% no-repeat;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/************************* Background *************************/

.prof-pic {
    border-radius: 50%;
    border: 5px solid #fff;
}

.profile-header {
    background: url(imgs/bg-pattern-card.svg);
    background-size: contain;
}

.container {
    text-align: center;
    /* width: 40%; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.profile {
    background-color: #fff;
}